<%include svg %>

<div class="appbar">
  <div class="left">
    <svg class="menu">
      <use xlink:href="#svg-menu" />
    </svg>
  </div>
  <span class="title"><%= pageTitle %></span>

  <div class="right">
    <svg class="search">
      <use xlink:href="#svg-search" />
    </svg>
  </div>

  <div class="searchbox">
    <svg class="search-button">
      <use xlink:href="#svg-search" />
    </svg>
    <input type="text" placeholder="Search">
  </div>
</div>

<div class="sidebar">
  <div class="menu">
    <div class="title">Hymnes &amp; Louanges</div>
    <div class="links">
      <a href="#">Accueil</a>
      <a href="#">Chant</a>
      <a href="#">A-Z</a>
      <a href="#">123</a>
    </div>
  </div>
</div>
