<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title><%- info %></title>
<link rel="stylesheet" href="/css/style-error.css">

<body>
  <div class="topbar"></div>
  <div class="error">
    <p class="code"><%- code %>
    <p class="info"><%- info %>
    <p class="message"><%- message %>
  </div>
</body>
 </html>
