<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
<body>
  <div id="documentation">
    <div class="form">
      <h3><%- info %></h3>
      <% fields.forEach(function(field) { %>
        <div class="float-input-small">
          <input id="<%- field %>" type="text" required />
          <label><%- field %></label>
          <span></span>
        </div>
      <% }) %>
      <button>Submit</button>
    </div>
  </div>
  <script>
    window.appInputs = <%- JSON.stringify(fields) %>;
  </script>
  <script src="js/app.js"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>
</body>
</html>
