<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
<body>
  <div id="documentation">
    <div class="form">
      <h3>Authentication Form</h3>
      <div class="float-input-small">
        <input id="Username" type="text" required />
        <label>Username</label>
      </div>
      <div class="float-input-small">
        <input id="Password" type="password" required />
        <label>Password</label>
        <span></span>
      </div>
      <button>Submit</button>
    </div>
    <p class="status"></p>
  </div>
  <script>
  </script>
  <script src="js/form.js"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>
</html>
