<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
<body>
  <div id="documentation">
    <h3><%- request %> <%- sample %></h3>
    <% if (response) { %>
    <% let item = locals %>
<% include partials/request-response %>
    <% } else { %>
<pre>Something went wrong</pre>
    <% } %>
 </div>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>
</html>
