<div class="topbar stick">
  <div class="left">
    <svg class="menu menu-icon">
      <use xlink:href="img/defs.svg#menu" />
    </svg>
  </div>
  <span class="title"><%= pageTitle %></span>

  <div class="right">
    <svg class="search">
      <use xlink:href="img/defs.svg#search" />
    </svg>
  </div>

  <div class="searchbox">
    <svg class="search-button">
      <use xlink:href="img/defs.svg#search" />
    </svg>
    <input type="text" placeholder="Search">
  </div>
</div>

<div class="sidebar">
  <div class="menu">
    <div class="title">
      <a href="#" target="_self">Hymnes &amp; Louanges</a>
    </div>
    <div class="line"></div>
    <div class="links">
      <a href="#" target="_self">Accueil</a>
      <a href="chant/1" target="_self">Chant</a>
      <a href="az/A" target="_self">A-Z</a>
      <a href="number/1" target="_self">123</a>
    </div>
  </div>
</div>
